@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Light */
    @font-face {
        font-family: 'NotoSans';
        font-weight: 300;
        font-style: normal;
        src: url('./assets/fonts/NotoSans-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'NotoSans';
        font-weight: 300;
        font-style: italic;
        src: url('./assets/fonts/NotoSans-LightItalic.ttf') format('truetype');
    }
    /* Regular */
    @font-face {
        font-family: 'NotoSans';
        font-weight: 400;
        font-style: normal;
        src: url('./assets/fonts/NotoSans-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'NotoSans';
        font-weight: 400;
        font-style: italic;
        src: url('./assets/fonts/NotoSans-Italic.ttf') format('truetype');
    }
    /* Medium */
    @font-face {
        font-family: 'NotoSans';
        font-weight: 500;
        font-style: normal;
        src: url('./assets/fonts/NotoSans-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'NotoSans';
        font-weight: 500;
        font-style: italic;
        src: url('./assets/fonts/NotoSans-MediumItalic.ttf') format('truetype');
    }
    /* Semi Bold */
    @font-face {
        font-family: 'NotoSans';
        font-weight: 600;
        font-style: normal;
        src: url('./assets/fonts/NotoSans-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'NotoSans';
        font-weight: 600;
        font-style: italic;
        src: url('./assets/fonts/NotoSans-SemiBoldItalic.ttf') format('truetype');
    }
    /* Bold */
    @font-face {
        font-family: 'NotoSans';
        font-weight: 700;
        font-style: normal;
        src: url('./assets/fonts/NotoSans-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'NotoSans';
        font-weight: 700;
        font-style: italic;
        src: url('./assets/fonts/NotoSans-BoldItalic.ttf') format('truetype');
    }
    /* Extra Bold */
    @font-face {
        font-family: 'NotoSans';
        font-weight: 800;
        font-style: normal;
        src: url('./assets/fonts/NotoSans-ExtraBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'NotoSans';
        font-weight: 800;
        font-style: italic;
        src: url('./assets/fonts/NotoSans-ExtraBoldItalic.ttf') format('truetype');
    }
}

@layer components {
    .hexagon-left {
        /* @apply w-0 border-r-[30px] border-t-[52px] border-b-[52px] border-t-transparent border-b-transparent !important; */
        @apply w-0 border-r-[22.5px] border-t-[39px] border-b-[39px] border-t-transparent border-b-transparent !important;
        @apply md:border-r-[30px] md:border-t-[52px] md:border-b-[52px] !important;
    }

    .hexagon-middle {
        /* @apply w-[60px] h-[104px] flex justify-center items-center text-5xl; */
        @apply w-[45px] h-[78px] flex justify-center items-center text-3xl;
        @apply md:w-[60px] md:h-[104px] md:text-5xl;
    }

    .hexagon-right {
        /* @apply w-0 border-l-[30px] border-t-[52px] border-b-[52px] border-t-transparent border-b-transparent !important; */
        @apply w-0 border-l-[22.5px]  border-t-[39px] border-b-[39px] border-t-transparent border-b-transparent !important;
        @apply md:border-l-[30px] md:border-t-[52px] md:border-b-[52px] !important;
    }

    .toast {
        @apply flex justify-center items-center py-2.5 px-4 mx-auto h-[52px] w-[356px] rounded-lg font-heading text-xl;
    }

    .toast.success {
        @apply bg-green-200 border border-green-400 text-green-800;
    }
    .toast.error {
        @apply bg-red-200 border border-red-400 text-red-800;
    }
    .toast.warn {
        @apply bg-purple-200 border border-purple-400 text-purple-800;
    }
}
